absl-py==2.1.0
annotated-types==0.7.0
asttokens==3.0.0
astunparse==1.6.3
attrs==25.4.0
blinker==1.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.3.2
click==8.3.0
colorama==0.4.6
comm==0.2.2
comtypes==1.4.7
contourpy==1.3.3
cycler==0.12.1
dacite==1.9.2
debugpy==1.8.14
decorator==5.2.1
distlib==0.3.9
executing==2.2.0
filelock==3.18.0
filetype==1.2.0
Flask==3.1.2
flatbuffers==24.3.25
fonttools==4.60.1
fpdf==1.7.2
fsspec==2026.6.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.66.2
h11==0.16.0
h5py==3.12.1
htmlmin==0.1.12
idna==3.10
ImageHash==4.3.2
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jupyter_client==8.6.3
jupyter_core==5.8.1
keras==3.6.0
kiwisolver==1.4.9
libclang==18.1.1
llvmlite==0.45.1
loguru==0.7.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matlab==0.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
minify_html==0.18.1
missingno==0.5.2
ml-dtypes==0.4.1
mpmath==1.3.0
msedge-selenium-tools==3.141.4
msgpack==1.2.1
msgpack-numpy==0.4.8
multimethod==1.12
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.2.7
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.6.1
numba==0.62.1
numpy==1.26.4
opt_einsum==3.4.0
optree==0.13.0
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.3
parso==0.8.4
patsy==1.0.2
phik==0.12.5
pillow==11.3.0
platformdirs==4.3.8
prompt_toolkit==3.0.51
protobuf==4.25.5
psutil==7.0.0
pure_eval==0.2.3
puremagic==2.2.0
pycparser==2.23
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.18.0
pyjokes==0.8.3
pyparsing==3.2.5
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pyttsx3==2.98
pytz==2024.2
PyWavelets==1.9.0
pywin32==306
PyYAML==6.0.3
pyzmq==27.0.0
requests==2.32.3
rich==13.9.2
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
selenium==3.141.0
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
stack-data==0.6.3
statsmodels==0.14.6
sympy==1.13.1
tabulate==0.10.0
tangled-up-in-unicode==0.2.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.5
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorpack==0.11
termcolor==2.5.0
threadpoolctl==3.6.0
toml==0.10.2
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
-e git+https://github.com/SaharshV07/CTR-GCN.git@5c8a09596b9387914a38f507bbdee65ddf0efd6a#egg=torchlight&subdirectory=torchlight
torchpack==0.2.2
torchvision==0.20.1+cu121
tornado==6.5.1
tqdm==4.68.2
traitlets==5.14.3
trio==0.32.0
trio-websocket==0.12.2
typeguard==4.5.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
urllib3==2.5.0
virtualenv==20.31.2
visions==0.8.1
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.9.0
Werkzeug==3.1.3
wheel==0.44.0
win32_setctime==1.2.0
wordcloud==1.9.6
wrapt==1.16.0
wsproto==1.3.2
xgboost==3.0.2
ydata-profiling==4.18.4
